<p>
  This application was developed for the purposes of completing the course Research Seminar 1 at the Faculty of
  Informatics and Information Technologies at the Slovak Technical University in Bratislava.
</p>
