<%= form_for :query, url: request.path, method: :get do |f| %>

    <%= render partial: 'partials/norecipes_favorites' if @itemlist == nil %>

    <ul class="pagination" style="margin-left: 30px">
      <% @pagecount.times do |i| %>
          <%= render partial: 'partials/paginate_link', locals: {form: f, page: i+1} %>
      <% end unless @itemlist == [] %>
    </ul>


    <div class="row">
      <%= render 'partials/thumbnails_view' %>
    </div>

<% end %>
