<div class="row">
  <div class="comment-block col-md-5" style="margin-left: 15px">
    <div class="row">
      <div class="comment-poster"><%= poster %></div>
    </div>
    <div class="row">
      <div class="comment-content"><%= content %></div>
    </div>
  </div>
</div>