<div class="thumbnail margin-panel-row" style="border: 2px solid orange">
  <div class="row margin-panel-row"><%= name %></div>
  <div class="row margin-panel-row"><%= details %></div>
  <div class="row margin-panel-row"><%= amount %></div>
</div>
