<nav>
  <div class="row text-center"><%= link_to 'Home', '/' %></div>
  <div class="row text-center"><%= link_to 'Sign up', '/users/new' %></div>
  <div class="row text-center"><%= link_to 'Login', '/login' %></div>
  <div class="row text-center"><%= link_to 'About', '/about' %></div>
</nav>