<nav>
  <div class="row text-center"><%= link_to 'Home', '/', class: 'navlink' %></div>
  <div class="row text-center"><%= link_to 'Sign up', '/users/new', class: 'navlink' %></div>
  <div class="row text-center"><%= link_to 'Login', '/login', class: 'navlink' %></div>
  <div class="row text-center"><%= link_to 'About', '/about', class: 'navlink' %></div>
</nav>