<div class="row bg-primary">
  <div class="col-md-12">
    Would you like to try again and see the next best recipe we found?
    <a href="/recipes/<%= nextid %>?suggested=true&nextid=nil" class="btn btn-default" style="margin-left: 20px">Click here</a>
  </div>
</div>