.comment-poster {
  background-color: seashell;
}

.comment-content {
  background-color: #ffdd76;
}

.comment-content,.comment-poster {
}

.comment-block {
  margin-bottom: 20px;
  border: 2px solid orange;
}